

.justify-content-center {
    justify-content: center;
}

.display_flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.spaceAround {
    justify-content: space-around;
}

.spaceBetween {
    justify-content: space-between;
}

.align-self-end {
    align-self: end;
}

.wrap {
    flex-wrap: wrap;
}

.positionRelative {
    position: relative;
}

.textAlignCenter {
    text-align: center;
}

#gameContainer {
    width: 850px;
    height: 850px;
    margin: 30px 420px;
    background-color: #bcb7b7;
    border-radius: 10px;
}

#resultBar {
    margin: 10px 400px;
    width: 900px;
    height: 50px;
    background-color: #999898;
    border-radius: 15px;
}

.symbolContainer {
    width: 240px;
    height: 240px;
    margin: 20px;
    border-radius: 10px;
    background-color: #5f5c5c;
}

.bigSymbol {
    color: #FFFFFF;
    font-size: 150px;
}

.pointerNon {
    pointer-events: none;
}

.resultText {
    line-height: 50px;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 0 20px;
}

#startNewGameButton {
    margin: 8px;
    font-size: 15px;
    font-weight: bold;
    width: 125px;
    height: 35px;
    background-color: red;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}














